:root {
  --primary-color: white;
}
* {
  font-family: 'Georgia', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
/* Styling for the logIn page */

.log-in-container {
  display: flex;
  width: 100%;
}
/* Login page left */
.image-part {
  justify-items: flex-start;
  position: relative;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}
.img-background {
  display: block;
  max-width: 100%;
}
.image-part-h1 {
  position: absolute;
  font-size: 27px;
  text-align: center;
  padding-top: 70px;
}
/* Login page right */

.form-section {
  justify-items: flex-end;
  position: relative;
  margin-left: 2.5rem;
  margin-right: 5rem;
  border: 3px solid rgb(222, 210, 210);
  border-radius: 100px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  box-shadow: 7px 7px 10px rgba(23, 22, 22, 0.1);
}
.brand-logo {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: rgb(23, 20, 20);
  text-shadow: 1px 2px 4px rgb(136, 131, 131);
}
/*signUp/signIn*/
.after-brand-logo {
  display: inline block;
  text-align: center;
  margin-top: 40px;
  background-color: rgb(245, 248, 250);
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 20px;
  justify-content: space-between;
}
.signIn {
  margin-right: 20px;
}
.signUp {
  margin-left: 20px;
}
#signInUp-btn {
  padding: 8px 10px;
  background-color: rgb(240, 244, 248);
  color: #34325e;
  cursor: pointer;
  border: none;
}
#signInUp-btn:hover {
  background-color: rgb(152, 185, 215);
  color: #437EF7;
  border-radius: 40px;
  transition: 1s;
}
.google-signUp {
  text-align: center;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.google-btn {
  padding: 5px 5px;
  background-color: inherit;
  color: #34325e;
  cursor: pointer;
  border: none;
  align-items: center;
}
.google-btn:hover {
  color: #437EF7;
  transition: 0.5s;
}
.google-btn img{
  width: 15px;
}
.logIn-form {
  padding-top: 20px;
}
.input label {
  display: block;
  font-size: 15px;
  color: #34325e;
  margin-left: 30px;
  margin-right: 60px;
}
input[type='email'], [type='password'], [type='text'] {
  font-size: 13px;
  padding: 7px 7px;
  width: 80%;
  margin-left: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}
input::placeholder {
  color: rgb(183, 183, 217);
}

.keep-me {
  display: flex;
  display: inline block;
  padding-top: 30px;
}
.keep-me .keep {
  font-size: 15px;
  color: #34325e;
}
.keep-me a {
  padding-left: 40%;
}
input[type="checkbox"] {
  margin-left: 28px;

}
.submit-btn {
  justify-content: center;
  text-align: center;
  padding-top: 35px;  
}
.btn {
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: #437EF7;
  color: white;
  font-size: 20px;
  width: 40%;
  padding: 12px 6px;
}
.btn:hover {
  background-color: #abc3f3;
  color: #34325e;
  transition: 0.5s;
}
/*This section is for the SignUp page, some of the designs are similar to the LogIn page*/
.password-note{
  padding-left: 28px;
}

/* This section is for the dashboard page*/

.dashBoard-container {
  display: flex;
  width: 100%;
  background-color: var(--primary-color);
}

/*Dashboard Left*/

.brand-logo-container {
  width: 30%;
  border-right: 1px solid rgb(201, 210, 221);
  border-bottom: 1px solid rgb(201, 210, 221);
  box-shadow: 3px 3px 3px #e5e6ea;
}
.header {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-right: 1px solid rgb(201, 210, 221);
  border-bottom: 1px solid rgb(201, 210, 221);
  box-shadow: 3px 3px 3px #e5e6ea;
}

.brand-logo-dashboard {
  padding-left: 10px;
  font-size: 15px;
  color: rgb(49, 48, 48);
}

.dash-add-btn {
  justify-content: center;
  text-align: center;
  padding-top: 20px;  
}
.add-new-btn {
  background-color: #437EF7;
  color: white;
  border-color: #437EF7;
  border-radius: 10px;
  width: 50%;
  padding: 15px 3px;
  font-size: 12px;
}
.dashboard-menu-bar {
  background-color:;
}

.projects {
  position: relative;
  display: inline-block;
  width: 100%;
}
.dropdown-select1 {
  border: none; 
  outline: none; 
  margin-top: 40px;
  margin-bottom: ;
  border: 1px solid inherit;
  font-size: 16px;
  margin-left: 10px;
  width: 70%;
  cursor: pointer;
}
.dropdown-select2 {
  border: none; 
  outline: none; 
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid inherit;
  font-size: 16px;
  width: 70%;
  margin-left: 10px;
  cursor: pointer;
}

/*Dashboard Right*/
.navbar-container {
  width: 70%;
  border-bottom: 1px solid rgb(201, 210, 221);
  justify-content: space-between;
}
.navbar {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(201, 210, 221);
  box-shadow: 2px 2px 2px #e5e6ea;
}
.navbar-content {
  display: flex;
}
.navbar h2 {
  display: inline-block;
  font-size: 12px;
  color: rgb(93, 91, 91);
  font-weight: 100;
  padding-left: 100px;

}
.search-bar {
  display: block;
  padding-left: 100px;
}
.search-bar img {
  padding-right: 0px;
  width: 20px;
}
.nav-icons img {
  display: inline-block;
  width: 20px;
}
.search-bar input {
  outline: none;
  border: none;
  padding-left: 5px;
}

@media (max-width: 768px) {
   .image-part {
    display: none;
   }
   .image-part-h1 {
    display: none;
   }
   .form-section {
    border: none;
    box-shadow: none;
    width: 80%;
    height: 100%;
   }
}
